.swimming div {
    border: 5px dashed palevioletred;
    width: 200px;
}

/* relative position styles */
/*
#ring{
    position: relative;
    left: 30px;
    top: 40px;
    top: -40px;
}
*/

/* absolute position */
/*
#ring{
    position: absolute;
    left: 30px;
    top: -40px;
}
*/

/* cll: ring's parent */
.swimming {
    position: relative;
    left: 40px;
    top: -30px;
}

/* sticky position */
#ring {
    position: sticky;
    left: 50px;
    top: -50px;
    height: 100px;
    width: 150px;
}

.dummy {
    height: 150px;
    width: 250px;
    border: 5px dashed palevioletred;
    width: 200px;
    background-color: pink;
    /* top: 100px; */
}

