.swimming div {
    border: 5px dashed palevioletred;
    width: 200px;
}

/* relative position styles */
/*
#ring{
    position: relative;
    left: 30px;
    top: 40px;
    top: -40px;
}
*/

/* absolute position */

#ring{
    position: absolute;
    left: 30px;
    top: -40px;
}

